/*********************************************************/
/**********         labelFooter.css          ************/
/**********         27-12-2017 22:34        ************/
/*****************************************************/

.label {
    -fx-background-color: rgb(234, 234, 234);
    -fx-text-fill: rgb(191, 191, 191);
    -fx-border-color: rgb(203, 203, 203);
    /*-fx-border-style: solid;*/
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-top-style: solid;

    -fx-font-color: rgb(256, 256, 256);
    -fx-font-size: 10;
    -fx-alignment: center;
}



/********************************/
/*	      Tomasz Topolewski      */
/********************************/