/*********************************************************/
/**********          main.css                ************/
/**********         27-12-2017 13:40        ************/
/******************************************************/

.primaryStage {
    -fx-background-color: rgb(244, 244, 244);
}


.menu-bar {
    -fx-background-color: rgb(234, 234, 234);
    -fx-border-color: rgb(203, 203, 203);
    -fx-border-width: 1px 0px 2px 0px;
    -fx-border-bottom-style: solid;
}

#menuProgram, #menuLists, #menuHelp {
}

#menuProgram:focused, #menuLists:focused, #menuHelp:focused {
}


#toolBar {
    -fx-background-color: rgb(244, 244, 244);
}

#newListToolBar, #sync {
    -fx-pref-height: 25px;
    -fx-pref-width: 100px;
    /*-fx-background-color: rgb(219, 219, 219);*/
    -fx-background-color: rgb(234, 234, 234);
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: rgb(184, 184, 184);
    -fx-border-radius: 5px;
}

#newListToolBar:hover, #sync:hover {
    -fx-background-color: rgb(184, 184, 184);
}


#paneLists {
    /*-fx-background-color: rgb(0, 0, 0);*/
}

#paneLists:hover {
    /*-fx-background-color: rgb(256, 0, 0);*/
}


#list0 {
    -fx-background-color: rgb(227, 28, 7);
}

#list1 {
    -fx-background-color: rgb(144, 227, 77);
}

#list2 {
    -fx-background-color: rgb(227, 226, 50);
}

#list3 {
    -fx-background-color: rgb(0, 142, 227);
}

#list4 {
    -fx-background-color: rgb(140, 0, 227);
}

#list5 {
    -fx-background-color: rgb(227, 45, 186);
}

#list6 {
    -fx-background-color: rgb(40, 227, 174);
}

#list7 {
    -fx-background-color: rgb(191, 3, 0);
}

#list8 {
    -fx-background-color: rgb(36, 0, 227);
}

#list0:hover ,#list1:hover, #list2:hover, #list3:hover, #list4:hover, #list5:hover, #list6:hover, #list7:hover, #list8:hover {
    -fx-background-color: rgb(0, 0, 0);
}



   /********************************/
  /*	  Tomasz Topolewski       */
/********************************/